/* Basic style for the website */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#dcabff), color-stop(#cea7ff), color-stop(#bea4fe), color-stop(#aea0fd), color-stop(#9c9dfc), color-stop(#7fa7ff), color-stop(#61b0ff), color-stop(#42b8ff), color-stop(#0ecbff), color-stop(#00ddff), color-stop(#2feefe), to(#5ffdf5));
    background-image: -o-linear-gradient(left bottom, #dcabff, #cea7ff, #bea4fe, #aea0fd, #9c9dfc, #7fa7ff, #61b0ff, #42b8ff, #0ecbff, #00ddff, #2feefe, #5ffdf5);
    background-image: linear-gradient(to right top, #dcabff, #cea7ff, #bea4fe, #aea0fd, #9c9dfc, #7fa7ff, #61b0ff, #42b8ff, #0ecbff, #00ddff, #2feefe, #5ffdf5);
    display:-ms-grid;
    display:grid;
    -ms-grid-rows: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
}

h1, h2 {
    font-family: 'Audiowide', cursive;
    margin: 10px 0;
    color: #fff;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

/* Header */

.nav {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.container i {
    color: #000;
    font-size: 30px;
    margin: 10px 0;
}

.container i:hover {
    color: #fff;
}

/* Introduction to game section */
.intro-game .flex{
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    height: 100vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.game-rules {
    border: solid 8px #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 80%;
    margin: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 10px 10px 30px 0px;
            box-shadow: 10px 10px 30px 0px;
}

.game-rules h1 {
    font-size: 150px;
    text-align: center;
    margin-bottom: 0;
    padding-top: 20px;
    overflow: auto;
    text-shadow: 3px 4px 6px #000;
}

.game-rules h2 {
    text-align: center; 
    margin-top: 0;
    font-size: 20px;
    text-shadow: 1px 2px 3px #000;
    letter-spacing: 1px;
}

.game-rules p {
    text-align: center;
    margin: 10px auto;
    color: #000;
    line-height: 1.4;
    padding: 0 30px;
    letter-spacing: 1px;
}

/* Style for username form */

.username-form .flex{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
}

.username {
    margin: 10px auto;
    border: none;
    padding: 5px 0;
    font-family: 'Orbitron', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    height: 40px;
}

/* Style for the buttons on the website */

#showtime-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.btn {
    font-size: 30px;
    text-align: center;
    background-color: #350ea0;
    border: 3px solid #fff;
    color: #fff;
    padding: 10px;
    margin: 20px auto;
    font-family: 'Orbitron', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.btn:hover {
    background-color: #DA4500;
}

/* Footer */

footer {
    margin-top: auto;
}

footer i {
    font-size: 30px;
    color: #000;
    margin: 5px;
    padding: 5px;
}

footer p {
    margin: 10px;
    color: #000;
}

/* Quiz style */

/* Overall style of the game */
.quiz-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.quiz-card {
    width: 100%;
    max-width: 80%;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 30px 0px;
            box-shadow: 10px 10px 30px 0px;
    margin: 30px auto;
}

/* Buttons additional styles */
#control-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.btn-start {
    font-size: 40px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    border: none;
}

#reset {
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    border: none;
    font-size: 30px;
}

/* Style for the text and radio buttons */
#quiz {
    background-color: #fff;
    color: #000;
}

#question {
    color: #000;
    font-size: 30px;
    text-align: center;
}

#answer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 25px 10px 25px 20px;
    padding-left: 10px;
}

#a1, #a2, #a3 {
    font-size: 25px;
    margin: 20px 0 20px 25px;
    display: inherit;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
    margin-top: 6px;
}

/* Style for the scoretracking system */
#score-tracking {
    width: 60%;
    margin: 5px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.score {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

#correct, #wrong {
    margin: 5px;
    font-weight: bold;
}

/* Style for the Result display*/
#result {
    width: 100%;
}

#result h2 {
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#your-score {
    margin: 10px auto;
    text-align: center;
    font-size: 40px;
}


/* Media queries*/
/* For media screens with a max-width of 750px */

@media screen and (max-width: 750px) {
    
    .game-rules {
        width: 80%;
    }

    .game-rules h1 {
        font-size: 100px;
    }
}

/* For media screens with a max-width of 500px */

@media screen and (max-width: 500px) {

    .game-rules {
        width: 80%;
    }

    .game-rules h1 {
        font-size: 80px;
    }
}

/* For media screens with a max-width of 400px */

@media screen and (max-width: 400px) {

    .game-rules {
        width: 95%;
        margin: 0;
        -webkit-box-shadow: 0px 1px 3px 0px;
                box-shadow: 0px 1px 3px 0px;
    }

    .game-rules h1 {
        font-size: 60px;
    }

    .quiz-card {
        max-width: 95%;
        width: 100%;
        margin: 0 auto;
    }

    #result h2 {
        font-size: 60px;
    }
}

.hide {
    display: none;
}